extends ../layout

block content
  h1 #{title}

  if cart.length
    ul
      each item in cart
        if item.name
          li
            | #{item.name} - $#{item.price} (x#{item.quantity})
            form(action="/cart/remove" method="POST" style="display:inline")
              input(type="hidden" name="productId" value=item.id)
              button(type="submit") Remove
        else
          li This product has been removed from the shop.
          form(action="/cart/remove" method="POST" style="display:inline")
            input(type="hidden" name="productId" value=item.id)
            button(type="submit") Remove from Cart
    p Total: $#{cart.reduce((total, item) => total + (item.price || 0) * item.quantity, 0)}
  else
    p Your cart is empty.

  a(href="/") Back to Shop