extends ../layout

block content
  h1 #{title}
  if products.length
    ul
      each product in products
        li
          | #{product.name} - #{product.description} - $#{product.price} 
          a(href=`/products/${product.id}`) View Details
          a(href=`/edit-product/${product.id}`) Edit
  else
    p No products available.

  script.
    async function deleteProduct(id) {
      try {
        const response = await fetch(`/products/${id}`, {
          method: 'DELETE'
        });
        if (response.ok) {
          window.location.reload();
        } else {
          alert('Failed to delete product');
        }
      } catch (error) {
        console.error('Error:', error);
        alert('An error occurred');
      }
    }

//- js in HTML 🤮