extends ../layout

block content
  h1 #{product.name}

  div
    p Name: $#{product.name}
    p Price: $#{product.price}
    if product.description
      p Description: #{product.description}

  form(action="/cart" method="POST")
    input(type="hidden" name="productId" value=product.id)
    button(type="submit") Add to Cart

  a(href="/") Back to Shop